main/dev/.vs/config/applicationhost.config.rej
/main/dev/.vs/TP.Catalogo/v15/Server/sqlite3/storage.ide-shm
/main/dev/.vs/TP.Catalogo/DesignTimeBuild/.dtbcache
/main/dev/.vs/TP.Catalogo/v15/Server/sqlite3/db.lock
/main/dev/.vs/TP.Catalogo/v15/Server/sqlite3/storage.ide
/main/dev/.vs/TP.Catalogo/v15/Server/sqlite3/storage.ide-wal
/main/dev/TP.Catalogo.Integration.Mocks/.vs/TP.Catalogo.Integration.Mocks/v15/Server/sqlite3
/main/dev/TP.Catalogo.Configurations.Test/.vs/TP.Catalogo.Configurations.Test/v15/Server/sqlite3/storage.ide
/main/dev/TP.Catalogo.Configurations.Test/.vs/TP.Catalogo.Configurations.Test/v15/Server/sqlite3/storage.ide-shm
/main/dev/TP.Catalogo.Configurations.Test/.vs/TP.Catalogo.Configurations.Test/v15/Server/sqlite3/storage.ide-wal
/main/dev/TP.Catalogo.Configurations.Test/.vs/TP.Catalogo.Configurations.Test/v15/Server/sqlite3/db.lock
/main/dev/.vs/TP.Catalogo/v16/Server/sqlite3/storage.ide
/main/dev/.vs/TP.Catalogo/v16/Server/sqlite3/storage.ide-shm
/main/dev/.vs/TP.Catalogo/v16/Server/sqlite3/storage.ide-wal
/main/dev/.vs/config
/main/dev/.vs/TP.Catalogo
/main/dev/.vs/TP.Catalogo/config/applicationhost.config
/main/dev/.vs/TP.Catalogo/v16/Server/sqlite3/db.lock